svg {
    background: #4295f5;
    width: 100%;
    height: 100%;
}

path {
    fill: #022914;
}

path:hover {
    fill: orange;
}


h3{
    color: white;

}

.switchON{
    fill: orange;
}

.switchOFF{
    fill: #022914;
}

.b-right{
    display: flex;
    justify-content: flex-end;
}
container-fluid{
    margin-top: 1%;
}
